
/* Переменные */

:root{
    --blue: #2196F3
}




body{
    font-family: "Roboto", sans-serif;
}


/*nav logo  */

.nav-logo {
    font-family: 'Oleo Script', sans-serif;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    color: rgb(0, 0, 0);
    margin-left: 215px;
    margin-top: 60px;
    text-decoration: none;
    
}


.nav-logo2 {

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    color: var(--blue);
}


/*links  */

.links{
    list-style: none;
    
}

.link{

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: black;
    text-decoration: none;
}

.link:focus {
    
}


.link:hover{
    color: var(--blue);
}

.link-act{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--blue);
    text-decoration: none;
}

.contact-link{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.contact-link:hover{
    color: var(--blue);
}



.hero{
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    background: #2F303A;
    color: white;
    text-align: center;
}

.hero2{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
}

.herobtn{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: white;
    background: var(--blue);
    
}

.herobtn:hover,:focus{
    background: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.whot{
    list-style: none;
}

.info-text{
    list-style: none;
}

/* team */
.teams{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    
}

.team{
    background: #F5F4FA;
    list-style: none;
}


.p-team{
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color: #757575;
}

.htext-team{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}


.h2{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.h3{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    
}

.htext-team{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.ptext{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
}

.contact-link-footer{
    display: flex;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.contact-link-footer:hover{
    color: white;
    
}

.address{

    margin-left: 215px;
    margin-top: 20px;

}

.footer-address{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer{
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    background: #2F303A;
    padding-top: 60px;
}
    



.nav-logo-footer {
    font-family: 'Oleo Script', cursive;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    color: white;
    margin-left: 215px;
    text-decoration: none;   
        
}
    
    
.nav-logo2-footer {
    

    font-size: 26px;
    line-height: 31px;
    color: #2196F3;
    
}
/* Portf */

.btns{
    font-size: 16px;
    line-height: 26px;
    list-style: none;
    
}

.btn{
    color: black;
    background: #F5F4FA;
}

.btn:hover{
    color: white;
    background-color: var(--blue);
}

.btn-act{
    color: white;
    background-color: var(--blue);

}

.portfolio-img{
    list-style: none;
}

.ptext-portf{
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}

.portfolio-h3{
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;

}